<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ping Pong Game'e Hoşgeldiniz!</title>
</head>
<body>
    <h1>Ping Pong Game'e Hoşgeldiniz!</h1>
    <p>Giriş yapmak için aşağıdaki kodu kullanabilirsiniz:</p>
    <p><strong>{{ otp }}</strong></p>
    <p style="font-size: 18px; margin-top: 20px;">Lütfen dikkat: Transcendence çalışanları sizden hiçbir zaman OTP kodunuzu talep etmez!</p>
</body>
</html>
